<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.q7.reporting.reportRenderer">
      <reportRenderer
            class="com.xored.q7.reporting.example.renderers.SampleReportRenderer"
            description="Groups test cases by feature tags"
            extension="xml"
            name="Sample" id="sample">
      </reportRenderer>
   </extension>

</plugin>
