<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.q7.reporting.reportRenderer">
      <reportRenderer
            class="com.xored.q7.reporting.example.renderers.Sample1StatisticsReportRenderer"
            description="Save Q7 execution statistics"
            extension="sample.report.txt"
            name="Sample 1: Q7 Statistics report" id="sample1">
      </reportRenderer>
   </extension>

</plugin>
